## This file specifies the files and directories that can usually occur in a
## developer build of this Git repository.
##
## Reference: https://git-scm.com/docs/gitignore
##
## When we say, "files", it actually means files and directories. By
## convention, directories are marked through a trailing first and listed
## first in each category.
##
## We don't list files that may occur in exceptional situations (such as
## temporary files *.h-t), because a developer should notice when such a
## file is not erased by "make mostlyclean".

# Files brought in from a libtool release:
/build-aux/ltmain.sh
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4

# Files brought in by gnulib-tool:
/build-aux/ar-lib
/build-aux/compile
/build-aux/config.guess
/build-aux/config.rpath
/build-aux/config.sub
/build-aux/install-sh
/gnulib-lib/
/gnulib-m4/

# Files brought in by automake:
/build-aux/depcomp
/build-aux/missing

# Other files brought in by autogen.sh:
# Files copied from trampoline:
/callback/trampoline_r/PORTING
/callback/trampoline_r/cache.c
/callback/trampoline_r/cache-alpha.c
/callback/trampoline_r/cache-hppa.c
/callback/trampoline_r/protexec.c
# Files copied from vacall:
/callback/vacall_r/vacall-alpha.c
/callback/vacall_r/vacall-arm.c
/callback/vacall_r/vacall-armhf.c
/callback/vacall_r/vacall-arm64.c
/callback/vacall_r/vacall-hppa.c
/callback/vacall_r/vacall-i386.c
/callback/vacall_r/vacall-ia64.c
/callback/vacall_r/vacall-m68k.c
/callback/vacall_r/vacall-mips.c
/callback/vacall_r/vacall-mipsn32.c
/callback/vacall_r/vacall-mips64.c
/callback/vacall_r/vacall-powerpc.c
/callback/vacall_r/vacall-powerpc64.c
/callback/vacall_r/vacall-s390.c
/callback/vacall_r/vacall-s390x.c
/callback/vacall_r/vacall-sparc.c
/callback/vacall_r/vacall-sparc64.c
/callback/vacall_r/vacall-x86_64.c

# Files created by cross-build.sh:
/cross-tools/build/
/cross-tools/gnu-releases/
/cross-tools/sources/
/cross-tools/cross

# Files generated by "make -f Makefile.devel" and distributed:
/avcall/avcall-alpha-linux.s
/avcall/avcall-alpha-macro.S
/avcall/avcall-arm-macro.S
/avcall/avcall-armhf-macro.S
/avcall/avcall-arm64-macro.S
/avcall/avcall-hppa-linux.s
/avcall/avcall-hppa-macro.S
/avcall/avcall-i386-linux.s
/avcall/avcall-i386-macro.S
/avcall/avcall-ia64-linux.s
/avcall/avcall-ia64-macro.S
/avcall/avcall-m68k-linux.s
/avcall/avcall-m68k-sun.s
/avcall/avcall-m68k.mit.S
/avcall/avcall-m68k.motorola.S
/avcall/avcall-mipseb-linux.s
/avcall/avcall-mipseb-macro.S
/avcall/avcall-mipsel-linux.s
/avcall/avcall-mipsel-macro.S
/avcall/avcall-mipsn32eb-linux.s
/avcall/avcall-mipsn32eb-macro.S
/avcall/avcall-mipsn32el-linux.s
/avcall/avcall-mipsn32el-macro.S
/avcall/avcall-mips64eb-linux.s
/avcall/avcall-mips64eb-macro.S
/avcall/avcall-mips64el-linux.s
/avcall/avcall-mips64el-macro.S
/avcall/avcall-powerpc-aix.s
/avcall/avcall-powerpc-linux.s
/avcall/avcall-powerpc-linux-macro.S
/avcall/avcall-powerpc-macos.s
/avcall/avcall-powerpc-sysv4-macro.S
/avcall/avcall-powerpc64-aix.s
/avcall/avcall-powerpc64-linux.S
/avcall/avcall-powerpc64-elfv2-linux.S
/avcall/avcall-s390-linux.s
/avcall/avcall-s390-macro.S
/avcall/avcall-s390x-linux.s
/avcall/avcall-s390x-macro.S
/avcall/avcall-sparc-linux.s
/avcall/avcall-sparc-macro.S
/avcall/avcall-sparc64-linux.s
/avcall/avcall-sparc64-macro.S
/avcall/avcall-x86_64-linux.s
/avcall/avcall-x86_64-macro.S
/avcall/avcall-x86_64-x32-linux.s
/vacall/vacall-alpha-linux.s
/vacall/vacall-alpha-macro.S
/vacall/vacall-arm-macro.S
/vacall/vacall-armhf-macro.S
/vacall/vacall-arm64-macro.S
/vacall/vacall-hppa-linux.s
/vacall/vacall-hppa-macro.S
/vacall/vacall-i386-linux.s
/vacall/vacall-i386-macro.S
/vacall/vacall-ia64-linux.s
/vacall/vacall-ia64-macro.S
/vacall/vacall-m68k-linux.s
/vacall/vacall-m68k-sun.s
/vacall/vacall-m68k.mit.S
/vacall/vacall-m68k.motorola.S
/vacall/vacall-mipseb-linux.s
/vacall/vacall-mipseb-macro.S
/vacall/vacall-mipsel-linux.s
/vacall/vacall-mipsel-macro.S
/vacall/vacall-mipsn32eb-linux.s
/vacall/vacall-mipsn32eb-macro.S
/vacall/vacall-mipsn32el-linux.s
/vacall/vacall-mipsn32el-macro.S
/vacall/vacall-mips64eb-linux.s
/vacall/vacall-mips64eb-macro.S
/vacall/vacall-mips64el-linux.s
/vacall/vacall-mips64el-macro.S
/vacall/vacall-powerpc-aix.s
/vacall/vacall-powerpc-linux.s
/vacall/vacall-powerpc-linux-macro.S
/vacall/vacall-powerpc-macos.s
/vacall/vacall-powerpc-sysv4-macro.S
/vacall/vacall-powerpc64-aix.s
/vacall/vacall-powerpc64-linux.S
/vacall/vacall-powerpc64-elfv2-linux.S
/vacall/vacall-s390-linux.s
/vacall/vacall-s390-macro.S
/vacall/vacall-s390x-linux.s
/vacall/vacall-s390x-macro.S
/vacall/vacall-sparc-linux.s
/vacall/vacall-sparc-macro.S
/vacall/vacall-sparc64-linux.s
/vacall/vacall-sparc64-macro.S
/vacall/vacall-x86_64-linux.s
/vacall/vacall-x86_64-macro.S
/vacall/vacall-x86_64-x32-linux.s
/trampoline/cache-alpha-linux.s
/trampoline/cache-alpha-macro.S
/trampoline/cache-hppa-linux.s
/trampoline/cache-hppa-macro.S
/trampoline/cache-powerpc-linux.s
/trampoline/cache-powerpc-linux-macro.S
/trampoline/cache-powerpc-macos.s
/trampoline/cache-powerpc64-elfv2-linux.s
/trampoline/cache-powerpc64-elfv2-macro.S
/trampoline/cache-sparc-linux.s
/trampoline/cache-sparc-macro.S
/trampoline/cache-sparc64-linux.s
/trampoline/cache-sparc64-macro.S
/callback/vacall_r/vacall-alpha-linux.s
/callback/vacall_r/vacall-alpha-macro.S
/callback/vacall_r/vacall-arm-macro.S
/callback/vacall_r/vacall-armhf-macro.S
/callback/vacall_r/vacall-arm64-macro.S
/callback/vacall_r/vacall-hppa-linux.s
/callback/vacall_r/vacall-hppa-macro.S
/callback/vacall_r/vacall-i386-linux.s
/callback/vacall_r/vacall-i386-macro.S
/callback/vacall_r/vacall-ia64-linux.s
/callback/vacall_r/vacall-ia64-macro.S
/callback/vacall_r/vacall-m68k-linux.s
/callback/vacall_r/vacall-m68k-sun.s
/callback/vacall_r/vacall-m68k.mit.S
/callback/vacall_r/vacall-m68k.motorola.S
/callback/vacall_r/vacall-mipseb-linux.s
/callback/vacall_r/vacall-mipseb-macro.S
/callback/vacall_r/vacall-mipsel-linux.s
/callback/vacall_r/vacall-mipsel-macro.S
/callback/vacall_r/vacall-mipsn32eb-linux.s
/callback/vacall_r/vacall-mipsn32eb-macro.S
/callback/vacall_r/vacall-mipsn32el-linux.s
/callback/vacall_r/vacall-mipsn32el-macro.S
/callback/vacall_r/vacall-mips64eb-linux.s
/callback/vacall_r/vacall-mips64eb-macro.S
/callback/vacall_r/vacall-mips64el-linux.s
/callback/vacall_r/vacall-mips64el-macro.S
/callback/vacall_r/vacall-powerpc-aix.s
/callback/vacall_r/vacall-powerpc-linux.s
/callback/vacall_r/vacall-powerpc-linux-macro.S
/callback/vacall_r/vacall-powerpc-macos.s
/callback/vacall_r/vacall-powerpc-sysv4-macro.S
/callback/vacall_r/vacall-powerpc64-aix.s
/callback/vacall_r/vacall-powerpc64-linux.S
/callback/vacall_r/vacall-powerpc64-elfv2-linux.S
/callback/vacall_r/vacall-s390-linux.s
/callback/vacall_r/vacall-s390-macro.S
/callback/vacall_r/vacall-s390x-linux.s
/callback/vacall_r/vacall-s390x-macro.S
/callback/vacall_r/vacall-sparc-linux.s
/callback/vacall_r/vacall-sparc-macro.S
/callback/vacall_r/vacall-sparc64-linux.s
/callback/vacall_r/vacall-sparc64-macro.S
/callback/vacall_r/vacall-x86_64-linux.s
/callback/vacall_r/vacall-x86_64-macro.S
/callback/vacall_r/vacall-x86_64-x32-linux.s
/callback/trampoline_r/cache-alpha-linux.s
/callback/trampoline_r/cache-alpha-macro.S
/callback/trampoline_r/cache-hppa-linux.s
/callback/trampoline_r/cache-hppa-macro.S
/callback/trampoline_r/cache-powerpc-linux.s
/callback/trampoline_r/cache-powerpc-linux-macro.S
/callback/trampoline_r/cache-powerpc-macos.s
/callback/trampoline_r/cache-powerpc64-elfv2-linux.s
/callback/trampoline_r/cache-powerpc64-elfv2-macro.S
/callback/trampoline_r/cache-sparc-linux.s
/callback/trampoline_r/cache-sparc-macro.S
/callback/trampoline_r/cache-sparc64-linux.s
/callback/trampoline_r/cache-sparc64-macro.S

# ---------- "make -f Makefile.maint totally-clean" gets you here ----------

# Files generated by the autotools:
/aclocal.m4
/configure
/config.h.in

# Files generated by "make -f Makefile.maint" and even kept by "make maintainer-clean":
# Built by Makefile.maint.
/common/asm-i386.h
# Built by avcall/Makefile.maint.
/avcall/avcall.man
/avcall/avcall-i386-mingw32.c
/avcall/avcall-i386-msvc.c
# Built by vacall/Makefile.maint.
/vacall/vacall.man
/vacall/config.h.mingw32
/vacall/config.h.msvc
/vacall/vacall.h.mingw32
/vacall/vacall.h.msvc
/vacall/vacall-i386-mingw32.c
/vacall/vacall-i386-msvc.c
# Built by trampoline/Makefile.maint.
/trampoline/trampoline.man
/trampoline/config.h.msvc
/trampoline/config.h.mingw32
# Built by callback/Makefile.maint.
/callback/callback.man
# Built by callback/vacall_r/Makefile.maint.
/callback/vacall_r/config.h.mingw32
/callback/vacall_r/config.h.msvc
/callback/vacall_r/vacall-i386-mingw32.c
/callback/vacall_r/vacall-i386-msvc.c
# Built by callback/trampoline_r/Makefile.maint.
/callback/trampoline_r/trampoline_r.man
/callback/trampoline_r/config.h.mingw32
/callback/trampoline_r/config.h.msvc

# ---------- "make maintainer-clean" gets you here ----------

# Files generated by "make" and distributed
# (i.e. kept by "make distclean")

# ---------- "make distclean" ought to get you here ----------

# Directories generated by "make" and mistakenly distributed
# (i.e. mistakenly kept by "make distclean"):
autom4te.cache/

# ---------- "make distclean" gets you here ----------

# Files generated by "configure" and not distributed
# (i.e. erased by "make distclean"):
# Erased by Makefile.
/config.status
/config.log
/config.cache
/Makefile
/config.h
/ffcall-version.h
/libtool
/stamp-h1
/stamp-h2
# Erased by avcall/Makefile.
/avcall/Makefile
/avcall/avcall.h
/avcall/minitests.output.*
/avcall/tests.output.*
# Erased by vacall/Makefile.
/vacall/Makefile
/vacall/vacall.h
/vacall/minitests.output.*
/vacall/tests.output.*
# Erased by trampoline/Makefile.
/trampoline/Makefile
/trampoline/tests.passed.*
# Erased by callback/Makefile.
/callback/Makefile
/callback/minitests.output.*
/callback/tests.output.*
# Erased by callback/vacall_r/Makefile.
/callback/vacall_r/Makefile
# Erased by callback/trampoline_r/Makefile.
/callback/trampoline_r/Makefile
/callback/trampoline_r/tests.passed.*

# ---------- "make clean" gets you here ----------

# Directories generated by "make" and erased by "make clean":
/callback/.libs/
/callback/_libs/

# Files generated by "make" and erased by "make clean":
# Erased by Makefile.
# Erased by avcall/Makefile.
# Erased by vacall/Makefile.
# Erased by trampoline/Makefile.
# Erased by callback/Makefile.
# Erased by callback/vacall_r/Makefile.
# Erased by callback/trampoline_r/Makefile.

# ---------- "make mostlyclean" gets you here ----------

# Directories generated by "make" and erased by "make mostlyclean":
/avcall/.libs/
/avcall/_libs/
/trampoline/.libs/
/trampoline/_libs/
/callback/vacall_r/.libs/
/callback/vacall_r/_libs/
/callback/trampoline_r/.libs/
/callback/trampoline_r/_libs/

# Files generated by "make" and erased by "make mostlyclean":
# Erased by Makefile.
# Erased by avcall/Makefile.
/avcall/*.o
/avcall/*.lo
/avcall/*.a
/avcall/libavcall.*
/avcall/core
/avcall/avcall-i386.s
/avcall/avcall-sparc.s
/avcall/avcall-sparc64.s
/avcall/avcall-m68k.s
/avcall/avcall-mips.s
/avcall/avcall-mipsn32.s
/avcall/avcall-mips64.s
/avcall/avcall-alpha.s
/avcall/avcall-hppa.s
/avcall/avcall-arm.s
/avcall/avcall-armhf.s
/avcall/avcall-arm64.s
/avcall/avcall-powerpc.s
/avcall/avcall-powerpc64.s
/avcall/avcall-powerpc64-elfv2.s
/avcall/avcall-ia64.s
/avcall/avcall-x86_64.s
/avcall/avcall-x86_64-x32.s
/avcall/avcall-s390.s
/avcall/avcall-s390x.s
/avcall/minitests.o
/avcall/minitests.s
/avcall/minitests
/avcall/minitests.exe
/avcall/minitests.out
/avcall/tests.o
/avcall/tests.s
/avcall/tests
/avcall/tests.exe
/avcall/tests.out
# Erased by vacall/Makefile.
/vacall/*.o
/vacall/*.a
/vacall/core
/vacall/vacall-i386.s
/vacall/vacall-sparc.s
/vacall/vacall-sparc64.s
/vacall/vacall-m68k.s
/vacall/vacall-mips.s
/vacall/vacall-mipsn32.s
/vacall/vacall-mips64.s
/vacall/vacall-alpha.s
/vacall/vacall-hppa.s
/vacall/vacall-arm.s
/vacall/vacall-armhf.s
/vacall/vacall-arm64.s
/vacall/vacall-powerpc.s
/vacall/vacall-powerpc64.s
/vacall/vacall-powerpc64-elfv2.s
/vacall/vacall-ia64.s
/vacall/vacall-x86_64.s
/vacall/vacall-x86_64-x32.s
/vacall/vacall-s390.s
/vacall/vacall-s390x.s
/vacall/minitests.o
/vacall/minitests.s
/vacall/minitests
/vacall/minitests.exe
/vacall/minitests.out
/vacall/tests.o
/vacall/tests.s
/vacall/tests
/vacall/tests.exe
/vacall/tests.out
# Erased by trampoline/Makefile.
/trampoline/trampoline.lo
/trampoline/trampoline.o
/trampoline/tramp-hppa.lo
/trampoline/tramp-hppa.o
/trampoline/tramp-powerpc.lo
/trampoline/tramp-powerpc.o
/trampoline/tramp-powerpc64.lo
/trampoline/tramp-powerpc64.o
/trampoline/tramp-ia64.lo
/trampoline/tramp-ia64.o
/trampoline/cache-sparc.lo
/trampoline/cache-sparc.o
/trampoline/cache-sparc64.lo
/trampoline/cache-sparc64.o
/trampoline/cache-alpha.lo
/trampoline/cache-alpha.o
/trampoline/cache-hppa.lo
/trampoline/cache-hppa.o
/trampoline/cache-powerpc.lo
/trampoline/cache-powerpc.o
/trampoline/cache-powerpc64-elfv2.lo
/trampoline/cache-powerpc64-elfv2.o
/trampoline/tramp-hppa.s
/trampoline/tramp-powerpc.s
/trampoline/tramp-powerpc64.s
/trampoline/tramp-ia64.s
/trampoline/cache-sparc.s
/trampoline/cache-sparc64.s
/trampoline/cache-alpha.s
/trampoline/cache-hppa.s
/trampoline/cache-powerpc.s
/trampoline/cache-powerpc64-elfv2.s
/trampoline/libtrampoline.*
/trampoline/core
/trampoline/test1.o
/trampoline/test1
/trampoline/test1.exe
/trampoline/test2.o
/trampoline/test2
/trampoline/test2.exe
# Erased by callback/Makefile.
/callback/*.o
/callback/*.lo
/callback/core
/callback/vacall_r.h
/callback/trampoline_r.h
/callback/libcallback.*
/callback/test1.o
/callback/test1
/callback/test1.exe
/callback/minitests.o
/callback/minitests.s
/callback/minitests
/callback/minitests.exe
/callback/minitests.out
/callback/tests.o
/callback/tests.s
/callback/tests
/callback/tests.exe
/callback/tests.out
# Erased by callback/vacall_r/Makefile.
/callback/vacall_r/*.o
/callback/vacall_r/*.lo
/callback/vacall_r/*.a
/callback/vacall_r/libvacall.*
/callback/vacall_r/core
/callback/vacall_r/vacall-i386.s
/callback/vacall_r/vacall-sparc.s
/callback/vacall_r/vacall-sparc64.s
/callback/vacall_r/vacall-m68k.s
/callback/vacall_r/vacall-mips.s
/callback/vacall_r/vacall-mipsn32.s
/callback/vacall_r/vacall-mips64.s
/callback/vacall_r/vacall-alpha.s
/callback/vacall_r/vacall-hppa.s
/callback/vacall_r/vacall-arm.s
/callback/vacall_r/vacall-armhf.s
/callback/vacall_r/vacall-arm64.s
/callback/vacall_r/vacall-powerpc.s
/callback/vacall_r/vacall-powerpc64.s
/callback/vacall_r/vacall-powerpc64-elfv2.s
/callback/vacall_r/vacall-ia64.s
/callback/vacall_r/vacall-x86_64.s
/callback/vacall_r/vacall-x86_64-x32.s
/callback/vacall_r/vacall-s390.s
/callback/vacall_r/vacall-s390x.s
# Erased by callback/trampoline_r/Makefile.
/callback/trampoline_r/trampoline.lo
/callback/trampoline_r/trampoline.o
/callback/trampoline_r/tramp-hppa.lo
/callback/trampoline_r/tramp-hppa.o
/callback/trampoline_r/tramp-powerpc.lo
/callback/trampoline_r/tramp-powerpc.o
/callback/trampoline_r/tramp-powerpc64.lo
/callback/trampoline_r/tramp-powerpc64.o
/callback/trampoline_r/tramp-ia64.lo
/callback/trampoline_r/tramp-ia64.o
/callback/trampoline_r/cache-sparc.lo
/callback/trampoline_r/cache-sparc.o
/callback/trampoline_r/cache-sparc64.lo
/callback/trampoline_r/cache-sparc64.o
/callback/trampoline_r/cache-alpha.lo
/callback/trampoline_r/cache-alpha.o
/callback/trampoline_r/cache-hppa.lo
/callback/trampoline_r/cache-hppa.o
/callback/trampoline_r/cache-powerpc.lo
/callback/trampoline_r/cache-powerpc.o
/callback/trampoline_r/cache-powerpc64-elfv2.lo
/callback/trampoline_r/cache-powerpc64-elfv2.o
/callback/trampoline_r/tramp-hppa.s
/callback/trampoline_r/tramp-powerpc.s
/callback/trampoline_r/tramp-powerpc64.s
/callback/trampoline_r/tramp-ia64.s
/callback/trampoline_r/cache-sparc.s
/callback/trampoline_r/cache-sparc64.s
/callback/trampoline_r/cache-alpha.s
/callback/trampoline_r/cache-hppa.s
/callback/trampoline_r/cache-powerpc.s
/callback/trampoline_r/cache-powerpc64-elfv2.s
/callback/trampoline_r/libtrampoline.*
/callback/trampoline_r/core
/callback/trampoline_r/test1.o
/callback/trampoline_r/test1
/callback/trampoline_r/test1.exe
/callback/trampoline_r/test2.o
/callback/trampoline_r/test2
/callback/trampoline_r/test2.exe

# ---------- "make all check" gets you here ----------

# Patterns for all subdirectories: all kinds of automatic backup files.
*.orig
*.rej
*~
*.kate-swp
.#*
\#*#

